<%- include('header'); -%>

<div class="previewContainer">

	<div id="pages">

		<div class="page page-break" style="height: 1150px; max-height: 1150px;">
			<div class="container">
				<header class="header">
					Header
				</header>

				<section class="header-title">
					Title
				</section>

				<section class="header-logo">
					Logo
				</section>

				<section class="main">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae facilisis
					quam, nec consectetur urna. Aliquam elementum nibh metus, eget lobortis
					lacus aliquet eu.
				</section>
				<footer class="footer">
					Footer
				</footer>
			</div>
		</div>
	</div>
</div>

<%- include('footer'); -%>
